@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://static.nationalgeographicla.com/files/styles/image_3200/public/75552.webp?w=1600&h=900" alt="">
</div>
